<html>

<body>
  
    
    <div class="page">
        <h1>A responsive table</h1>
        <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th >Tag Name</th>
                    <th >Tag Length</th>
                    <th >Tag Value</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>

          
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>
                <tr>
                    <td class="organisationnumber">002</td>
                    <td class="organisationname">TPH</td>
                    <td class="organisationname">2</td>
                    <td class="organisationname">SOUWUP WIR</td>

                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>
